.pageBody {
  margin: 0;
  font-size: $text-mobile-font;
  line-height: $text-mobile-line;
  color: $main-text-color;
  font-weight: 300;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: $main-bg-color;
  min-width: $width-mobile;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: $width-mobile-album) {
    font-size: $text-tablet-font;
    line-height: $text-tablet-line;
    min-width: $width-mobile-album;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: $width-tablet) {
    min-width: $width-tablet;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: $width-tablet-album) {
    font-size: $text-desktop-font;
    line-height: $text-desktop-line;
    min-width: $width-tablet-album;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $width-desktop) {
    min-width: $width-desktop;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}