.navTop {
  // min-height: 50px;
  max-width: 100%;
  margin-block-end: $outer-2;
}

.navTop__list {
  display: flex;
  list-style: none;
  padding-inline-start: $outer-0-5;
  padding-inline-end: $outer-0-5;
  background-color: $color1;
  margin: 0;
  padding-block-start: $outer-1-2;
  padding-block-end: $outer-1-2;
  border: $navTop-border;
}

.navTop__link {
  text-decoration: none;
  color: inherit;
}

.navTop__item {
  margin-inline-start: $outer-1;
  margin-inline-end: $outer-1;
  overflow: hidden;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    width: auto;
    max-width: 100px;
    color: $color5;
  }
  
  &:last-child {
    font-weight: bolder;
  }
  
  &:not(.navTop__item--vr) {
    // cursor: pointer;
  }
  
  &:not(.navTop__item--vr):not(:last-child):hover,
  &:not(.navTop__item--vr):not(:last-child):focus {
    cursor: pointer;
    color: $main-color;
  }
}

.navTop__item--vr {
  color: $color5;
  margin-inline-start: 0;
  margin-inline-end: 0;
}