.navTop {
  min-height: 50px;
  max-width: 100%;
  // margin: $outer-1;
}

.navTop__list {
  display: flex;
  list-style: none;
  padding-inline-start: $outer-0-5;
  padding-inline-end: $outer-0-5;
  background-color: $color1;
  margin: 0;
  padding-block-start: $outer-1-2;
  padding-block-end: $outer-1-2;
  border: $navTop-border;
}

.navTop__item {
  margin-inline-start: $outer-1;
  margin-inline-end: $outer-1;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.navTop__item:not(:last-child) {
  width: auto;
  max-width: 100px;
  color: $color5;
}

.navTop__item:not(.navTop__item--vr) {
  // cursor: pointer;
}

.navTop__item:not(.navTop__item--vr):not(:last-child):hover,
.navTop__item:not(.navTop__item--vr):not(:last-child):focus {
  cursor: pointer;
  color: $main-color;
}

.navTop__item--vr {
  color: $color5;
  margin-inline-start: 0;
  margin-inline-end: 0;
}