.techInfo {
  width: 100%;
  border: $view-border;
  border-collapse: collapse;
  position: relative;
}

.techInfo__row {
  border: $view-border;
}

.techInfo__row--top {
  background-color: $color7;
}

.techInfo__data {
  border: $view-border;
  text-align: center;
  padding-block-start: $outer-0-5;
  padding-block-end: $outer-0-5;
}

.techInfo__data--first {
  font-weight: bolder;
  text-align: left;
  padding-inline-start: $outer-1;
}

.techInfo__data--wide {
}

.techInfo__data--material {
  border: $view-border;
  color: $color6;
  font-weight: bolder;
  text-align: left;
  padding-inline-start: $outer-1;
  background-color: $color8;
}

.techInfo__data--previewHover {
  position: relative;
}

.techInfo__data--preview {
  display: flex;
  justify-content: center;
  border: none;
  // position: relative;
}

.techInfo__hover {
  color: $main-color;
  border-bottom: 1px solid $main-color;
}

.techInfo__preview {
  position: absolute;
  max-width: $width-mobile-container;
  max-width: 100%;
  border: 1px solid $color;
  display: none;
  background-color: $color1;
}

.techInfo__preview--small {
  left: 0;
  top: 0;
}

.techInfo__preview--big {
  left: calc(50% - 305px);
  top: calc(50% - 57px);
}

.techInfo__preview--visible {
  display: block;
}

.techInfo__previewClose {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.techInfo__previewClose::after {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 11px;
  right: 0;
  content: "X";
  font-weight: bold;
}

.techInfo__loupe {
  display: block;
  max-height: 30px;
  cursor: pointer;
  padding: 5px;
}