.tabs__labels {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid $main-color;
  margin-block-end: $outer-2;
}

.tabs__tab {
  display: inline-block;
  color: $main-color;
  font-weight: 400;
  margin-inline-start: 0;
  margin-inline-end: $outer-0-5;
  padding-inline-start: $outer-2;
  padding-inline-end: $outer-2;
  padding-block-start: $outer-1;
  padding-block-end: $outer-1;
  top: 0;
  background-color: $color1;
  border: 2px solid $color3;
  border-bottom: none;
  cursor: pointer;

  &--active {
    border: 2px solid $main-color;
    background-color: $color3;
    border-bottom: none;
    font-weight: bolder;
  }
}

.tabs__tab--second {
  background-color: $color2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
  &-active {
    border: 2px solid $main-color;
    background-color: $color3;
    border-bottom: none;
    font-weight: bolder;
  }
}

.tabs__tabContent {
  display: none;
  flex-direction: column;
  margin: 0;

  &--active {
    display: flex;
  }
}

// mobile-album

// tablet

// tablet album

// desktop
