.tabs__labels {
  height: auto;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $main-color;
  margin-block-end: $outer-2;
}

.tabs__tab {
  display: inline-block;
  color: $main-color;
  font-weight: 400;
  margin-inline-start: 0;
  margin-inline-end: $outer-1;
  padding-inline-start: $outer-2;
  padding-inline-end: $outer-2;
  padding-block-start: $outer-1;
  padding-block-end: $outer-1;
  top: 0;
  background-color: $color3;
  border: 2px solid $color3;
  border-bottom: none;
  cursor: pointer;

  &--active {
    border: 2px solid $main-color;
    border-bottom: none;
  }
}

.tabs__tabContent {
  display: none;
  flex-direction: column;
  min-height: 0;
  transform: translateY(-10%);
  transition: opacity, transform, height;
  transition-duration: .1s;
  margin: 0;

  &--active {
    display: flex;
  }
}

// mobile-album

// tablet

// tablet album

// desktop
