.mainNav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-inline-start: $outer-2;
  // margin-inline-end: $outer-2;
}

.mainNav__logo {
  width: 60px;
  height: 45px;
  margin-block-start: $outer-1;
  margin-block-end: $outer-1;
  margin-inline-start: $outer-2;
}

.mainNav__bottom {
  height: 45px;
  background-color: $main-nav-bg-color;
}

.mainNav__list {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  height: 100%;
  padding-inline-start: 0;
}

.mainNav__item {
  // min-height: 25px;
  // display: flex;
  padding-inline-start: $outer-2;
  padding-inline-end: $outer-2;
  padding-block-start: $outer-1-2;
  padding-block-end: $outer-1;
  border-right: 1px solid $color2;
  height: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $color2;
  }

  &:hover .mainNav__link,
  &:focus .mainNav__link {
    color: $main-color;
  }
}

.mainNav__item--active {
  background-color: $color4;
}

.mainNav__link {
  text-decoration: none;
  color: $main-nav-link-color;
  font-weight: bolder;
}

.mainNav__phone {
  text-decoration: none;
  color: $main-color;
  padding-inline-start: $outer-1;
  // padding-inline-end: $outer-1;
  padding-block-start: $outer-1;
  padding-block-end: $outer-1;
  margin-inline-end: $outer-2;

  &:hover,
  &:focus,
  &:active {
    color: $color5;
  }
}

.mainNav__search {
  display: none;
}

.mainNav__item--burger {
  margin-inline-start: auto;
}

.mainNav__burger {
  max-height: 100%;
}

@media (min-width: $width-mobile-album) {

}

@media (min-width: $width-tablet) {
  .mainNav__item--noTablet {
    display: none;
  }
}

@media (min-width: $width-tablet-album) {
  .mainNav__item--burger {
    display: none;
  }
}

@media (min-width: $width-desktop) {
  
}

@media (min-width: $width-desktop-wide) {
  
}