.view {
  border: $view-border;
  border-collapse: collapse;
}

.view__row {
  border: $view-border;
}

.view__data {
  border: $view-border;
  text-align: center;
}

.view__data--narrow {
  width: 22%;
}