.navTree {
  width: 100%;
  max-width: 290px;
  height: auto;
  margin: $outer-1;
}

.navTree__link {
  text-decoration: none;
  color: inherit;
}

.navTree__list {
  list-style: none;
  padding-inline-start: $outer-1;
  margin-block-end: $outer-1-2;
  margin-block-start: 0;
}

.navTree__list--first {
  
}

.navTree__list--second {
  
}

.navTree__list--third {
  padding-inline-start: $outer-2;
  padding-inline-end: $outer-2;
  padding-block-start: $outer-0-5;
  padding-block-end: $outer-0-5;
  margin-inline-start: $outer-2;
  border: $navTree-border-list-third;
  border-radius: $navTree-border-radius-list-third;
  background-color: $color1;
}

.navTree__item {

  &:last-child {
    // margin-block-end: $outer-1-2;
  }

  & .navTree__list {
    display: none;
  }
}

.navTree__item--third {
  border-bottom: $navTree-border-third;
}

.navTree__item--first-active .navTree__list--second,
.navTree__item--second-active .navTree__list--third {
  display: block;
}

.navTree__arrow {
  display: inline-block;
  width: 15px;
  margin-inline-end: $outer-1;
  transition: all;
  transition-duration: 0.2s;
}

.navTree__arrow--dropped {
  transform: rotate(90deg);
  width: 15px;
}

.navTree__firstLevel {
  padding-block-start: $outer-0-5;
  padding-block-end: $outer-0-5;
  padding-inline-start: $outer-1;
  padding-inline-end: $outer-1;
  margin-block-end: $outer-1;
  background-color: $color1;
  border: $navTree-border-first;
  border-radius: $navTree-border-radius-first;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $main-color;
    border: $navTree-border-first-hover;
    background-color: $color2;
  }
}

.navTree__firstLevel--active {
  background-color: $main-color;
  color: $color1;
}

.navTree__secondLevel {
  padding-block-start: $outer-0-5;
  padding-block-end: $outer-0-5;
  padding-inline-start: $outer-1;
  padding-inline-end: $outer-2;
  margin-block-end: $outer-0-5;
  background-color: $color1;
  border: $navTree-border-second;
  border-radius: $navTree-border-radius-second;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $main-color;
    border: $navTree-border-second-hover;
    background-color: $color2;
  }
}

.navTree__secondLevel--active {
  background-color: $color3;
  color: $main-color;
}

.navTree__thirdLevel {
  padding-block-start: $outer-0-5;
  padding-block-end: $outer-0-5;
  padding-inline-start: $outer-1;
  padding-inline-end: $outer-1;
  background-color: $color1;
  border-radius: $navTree-border-radius-third;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $main-color;
    background-color: $color1;
  }
}

.navTree__thirdLevel--active {
  background-color: $color3;
  color: $main-color;
}

.navTree__firstLevel--aquastop {
  padding-inline-start: $outer-1-2;
  padding-block-start: $outer-1;
  padding-block-end: $outer-1-2;
  background-color: $color3;
  border: none;

  &:hover,
  &:focus {
    border: none;
  }
}