// display width

$width-mobile: 320px;
$width-mobile-container: 290px;
$width-mobile-album: 568px;
$width-mobile-album-container: 546px;
$width-tablet: 720px;
$width-tablet-container: 690px;
$width-tablet-album: 940px;
$width-tablet-album-container: 910px;
$width-desktop: 1140px;
$width-desktop-container: 1110px;
$width-desktop-wide: 1240px;
$width-desktop-wide-container: 1210px;

// colors

$color: dodgerblue;
$color1: white;
$color2: lightblue;
$color3: lightgrey;
$color4: skyblue;
$color5: grey;
$color6: #CC3300;
$color7: #E6E6E6;
$color8: #EFEFEF;

$main-color: royalblue;
$main-bg-color: aliceblue;

$main-nav-bg-color: $main-color;
$main-nav-link-color: white;

$main-text-color: #333333;

// margins and paddings

$outer: 10px;
$outer-0-5: $outer * 0.5;
$outer-1: $outer;
$outer-1-2: $outer * 1.2;
$outer-2: $outer * 2;
$outer-3: $outer * 3;

// borders

$navTree-border-first: 1px solid $color3;
$navTree-border-first-hover: 1px solid $color;
$navTree-border-radius-first: 0px;

$navTree-border-second: 1px solid $main-color;
$navTree-border-second-hover: 1px solid $color;
$navTree-border-radius-second: 5px;

$navTree-border-list-third: 1px solid $color3;
$navTree-border-radius-list-third: 9px;
$navTree-border-third: 1px solid $color3;
$navTree-border-radius-third: 2px;

$navTop-border: 1px solid $color3;

$content-border: 1px solid $color3;

$view-border: 1px solid $color3;

// text and headings
$font-coef-mobile: 1;
$font-coef-tablet: 0.8;
$font-coef-desktop: 0.7;
// mobile
$text-mobile-font: 18px * $font-coef-mobile;
$text-mobile-line: 26px * $font-coef-mobile;
$sm-text-mobile-font: 15px * $font-coef-mobile;
$sm-text-mobile-line: 24px * $font-coef-mobile;
$h1-mobile-font: 36px * $font-coef-mobile;
$h1-mobile-line: 42px * $font-coef-mobile;
$h2-mobile-font: 33px * $font-coef-mobile;
$h2-mobile-line: 39px * $font-coef-mobile;
$h3-mobile-font: 30px * $font-coef-mobile;
$h3-mobile-line: 36px * $font-coef-mobile;
$h4-mobile-font: 24px * $font-coef-mobile;
$h4-mobile-line: 30px * $font-coef-mobile;
$h5-mobile-font: 18px * $font-coef-mobile;
$h5-mobile-line: 22px * $font-coef-mobile;
$h6-mobile-font: 15px * $font-coef-mobile;
$h6-mobile-line: 20px * $font-coef-mobile;
// tablet
$text-tablet-font: 20px * $font-coef-tablet;
$text-tablet-line: 30px * $font-coef-tablet;
$h1-tablet-font: 40px * $font-coef-tablet;
$h1-tablet-line: 48px * $font-coef-tablet;
$h2-tablet-font: 37px * $font-coef-tablet;
$h2-tablet-line: 45px * $font-coef-tablet;
$h3-tablet-font: 32px * $font-coef-tablet;
$h3-tablet-line: 38px * $font-coef-tablet;
$h4-tablet-font: 26px * $font-coef-tablet;
$h4-tablet-line: 32px * $font-coef-tablet;
$h5-tablet-font: 20px * $font-coef-tablet;
$h5-tablet-line: 24px * $font-coef-tablet;
$h6-tablet-font: 15px * $font-coef-tablet;
$h6-tablet-line: 20px * $font-coef-tablet;
// desktop
$text-desktop-font: 22px * $font-coef-desktop;
$text-desktop-line: 30px * $font-coef-desktop;
$sm-text-desktop-font: 17px * $font-coef-desktop;
$sm-text-desktop-line: 26px * $font-coef-desktop;
$h1-desktop-font: 44px * $font-coef-desktop;
$h1-desktop-line: 52px * $font-coef-desktop;
$h2-desktop-font: 41px * $font-coef-desktop;
$h2-desktop-line: 48px * $font-coef-desktop;
$h3-desktop-font: 36px * $font-coef-desktop;
$h3-desktop-line: 42px * $font-coef-desktop;
$h4-desktop-font: 28px * $font-coef-desktop;
$h4-desktop-line: 34px * $font-coef-desktop;
$h5-desktop-font: 22px * $font-coef-desktop;
$h5-desktop-line: 26px * $font-coef-desktop;
$h6-desktop-font: 17px * $font-coef-desktop;
$h6-desktop-line: 22px * $font-coef-desktop;